*,
:after,
:before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/
*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb
}

:after,
:before {
    --tw-content: ""
}

:host,
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
pre,
samp {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,
select {
    text-transform: none
}

button,
input:where([type=button]),
input:where([type=reset]),
input:where([type=submit]) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0
}

fieldset {
    margin: 0
}

fieldset,
legend {
    padding: 0
}

menu,
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

dialog {
    padding: 0
}

textarea {
    resize: vertical
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

[role=button],
button {
    cursor: pointer
}

:disabled {
    cursor: default
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle
}

img,
video {
    max-width: 100%;
    height: auto
}

[hidden]:where(:not([hidden=until-found])) {
    display: none
}

:root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem
}

.dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
}

* {
    border-color: hsl(var(--border))
}

body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground))
}

.\!container {
    width: 100% !important
}

.container {
    width: 100%
}

@media (min-width:640px) {
    .\!container {
        max-width: 640px !important
    }

    .container {
        max-width: 640px
    }
}

@media (min-width:768px) {
    .\!container {
        max-width: 768px !important
    }

    .container {
        max-width: 768px
    }
}

@media (min-width:1024px) {
    .\!container {
        max-width: 1024px !important
    }

    .container {
        max-width: 1024px
    }
}

@media (min-width:1280px) {
    .\!container {
        max-width: 1280px !important
    }

    .container {
        max-width: 1280px
    }
}

@media (min-width:1536px) {
    .\!container {
        max-width: 1536px !important
    }

    .container {
        max-width: 1536px
    }
}

.pointer-events-none {
    pointer-events: none
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.-inset-0,
.inset-0 {
    inset: 0
}

.inset-x-0 {
    left: 0;
    right: 0
}

.inset-y-\[-0\%\] {
    top: 0;
    bottom: 0
}

.-bottom-0 {
    bottom: 0
}

.-left-0 {
    left: 0
}

.-top-6 {
    top: -1.5rem
}

.-top-8 {
    top: -2rem
}

.-top-\[40\%\] {
    top: -40%
}

.bottom-0 {
    bottom: 0
}

.bottom-3 {
    bottom: .75rem
}

.bottom-4 {
    bottom: 1rem
}

.bottom-5 {
    bottom: 1.25rem
}

.bottom-7 {
    bottom: 1.75rem
}

.left-0 {
    left: 0
}

.left-16 {
    left: 4rem
}

.left-5 {
    left: 1.25rem
}

.left-8 {
    left: 2rem
}

.left-\[54\%\] {
    left: 54%
}

.left-\[75\%\] {
    left: 75%
}

.right-0 {
    right: 0
}

.right-3 {
    right: .75rem
}

.right-4 {
    right: 1rem
}

.right-5 {
    right: 1.25rem
}

.top-0 {
    top: 0
}

.top-1\/2 {
    top: 50%
}

.top-28 {
    top: 7rem
}

.top-\[0\%\] {
    top: 0
}

.top-\[150px\] {
    top: 150px
}

.top-\[20\%\] {
    top: 20%
}

.top-\[60\%\] {
    top: 60%
}

.top-\[800px\] {
    top: 800px
}

.-z-0 {
    z-index: 0
}

.-z-10 {
    z-index: -10
}

.z-0 {
    z-index: 0
}

.z-10 {
    z-index: 10
}

.z-20 {
    z-index: 20
}

.z-30 {
    z-index: 30
}

.z-40 {
    z-index: 40
}

.z-50 {
    z-index: 50
}

.z-\[1000\] {
    z-index: 1000
}

.z-\[30\] {
    z-index: 30
}

.z-\[7\] {
    z-index: 7
}

.z-\[8\] {
    z-index: 8
}

.z-\[9\] {
    z-index: 9
}

.row-start-2 {
    grid-row-start: 2
}

.row-start-4 {
    grid-row-start: 4
}

.row-start-7 {
    grid-row-start: 7
}

.row-end-3 {
    grid-row-end: 3
}

.m-0 {
    margin: 0
}

.m-auto {
    margin: auto
}

.mx-3 {
    margin-left: .75rem;
    margin-right: .75rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-2 {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.my-3 {
    margin-top: .75rem;
    margin-bottom: .75rem
}

.mr-auto {
    margin-right: auto
}

.mt-2 {
    margin-top: .5rem
}

.line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1
}

.inline-block {
    display: inline-block
}

.inline {
    display: inline
}

.flex {
    display: flex
}

.inline-flex {
    display: inline-flex
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.aspect-square {
    aspect-ratio: 1/1
}

.size-1\.5 {
    width: .375rem;
    height: .375rem
}

.size-10 {
    width: 2.5rem;
    height: 2.5rem
}

.size-12 {
    width: 3rem;
    height: 3rem
}

.size-16 {
    width: 4rem;
    height: 4rem
}

.size-7 {
    width: 1.75rem;
    height: 1.75rem
}

.size-8 {
    width: 2rem;
    height: 2rem
}

.size-\[80\%\] {
    width: 80%;
    height: 80%
}

.size-\[90\%\] {
    width: 90%;
    height: 90%
}

.size-full {
    width: 100%;
    height: 100%
}

.size-max {
    width: max-content;
    height: max-content
}

.h-0 {
    height: 0
}

.h-1 {
    height: .25rem
}

.h-1\/2 {
    height: 50%
}

.h-10 {
    height: 2.5rem
}

.h-6 {
    height: 1.5rem
}

.h-8 {
    height: 2rem
}

.h-9 {
    height: 2.25rem
}

.h-\[105\%\] {
    height: 105%
}

.h-\[110\%\] {
    height: 110%
}

.h-\[110px\] {
    height: 110px
}

.h-\[180dvh\] {
    height: 180dvh
}

.h-\[20rem\] {
    height: 20rem
}

.h-\[350px\] {
    height: 350px
}

.h-auto {
    height: auto
}

.h-full {
    height: 100%
}

.h-max {
    height: max-content
}

.min-h-screen {
    min-height: 100vh
}

.w-0 {
    width: 0
}

.w-10 {
    width: 2.5rem
}

.w-16 {
    width: 4rem
}

.w-6 {
    width: 1.5rem
}

.w-64 {
    width: 16rem
}

.w-9 {
    width: 2.25rem
}

.w-\[1\.2rem\] {
    width: 1.2rem
}

.w-\[3rem\] {
    width: 3rem
}

.w-\[497px\] {
    width: 497px
}

.w-\[5\%\] {
    width: 5%
}

.w-\[60\%\] {
    width: 60%
}

.w-\[80\%\] {
    width: 80%
}

.w-full {
    width: 100%
}

.w-max {
    width: max-content
}

.min-w-\[5\.5rem\] {
    min-width: 5.5rem
}

.max-w-4xl {
    max-width: 56rem
}

.max-w-5xl {
    max-width: 64rem
}

.max-w-7xl {
    max-width: 80rem
}

.max-w-\[1000px\] {
    max-width: 1000px
}

.max-w-\[1920px\] {
    max-width: 1920px
}

.max-w-\[800px\] {
    max-width: 800px
}

.max-w-\[900px\] {
    max-width: 900px
}

.max-w-screen-md {
    max-width: 768px
}

.max-w-xs {
    max-width: 20rem
}

.origin-right {
    transform-origin: right
}

.-translate-x-1\/2 {
    --tw-translate-x: -50%
}

.-translate-x-1\/2,
.-translate-x-28 {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-x-28 {
    --tw-translate-x: -7rem
}

.-translate-y-1\/2 {
    --tw-translate-y: -50%
}

.-translate-y-1\/2,
.translate-x-2 {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-x-2 {
    --tw-translate-x: 0.5rem
}

.translate-y-10 {
    --tw-translate-y: 2.5rem
}

.translate-y-10,
.translate-y-5 {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-5 {
    --tw-translate-y: 1.25rem
}

.translate-y-7 {
    --tw-translate-y: 1.75rem
}

.skew-y-12,
.translate-y-7 {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.skew-y-12 {
    --tw-skew-y: 12deg
}

.scale-0 {
    --tw-scale-x: 0;
    --tw-scale-y: 0
}

.scale-0,
.scale-100 {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-100 {
    --tw-scale-x: 1;
    --tw-scale-y: 1
}

.scale-50 {
    --tw-scale-x: .5;
    --tw-scale-y: .5
}

.scale-50,
.scale-\[0\.2\] {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-\[0\.2\] {
    --tw-scale-x: 0.2;
    --tw-scale-y: 0.2
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform-gpu {
    transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@keyframes ripple {

    0%,
    to {
        transform: translate(-50%, -50%) scale(1)
    }

    50% {
        transform: translate(-50%, -50%) scale(.9)
    }
}

.animate-ripple {
    animation: ripple var(--duration, 3s) ease calc(var(--i, 0)*.2s) infinite
}

@keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

.animate-spin-slow {
    animation: spin 1.3s linear infinite
}

.cursor-grab {
    cursor: grab
}

.resize {
    resize: both
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
}

.flex-row {
    flex-direction: row
}

.flex-col {
    flex-direction: column
}

.flex-col-reverse {
    flex-direction: column-reverse
}

.flex-wrap {
    flex-wrap: wrap
}

.items-start {
    align-items: flex-start
}

.items-end {
    align-items: flex-end
}

.items-center {
    align-items: center
}

.justify-start {
    justify-content: flex-start
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.gap-0 {
    gap: 0
}

.gap-0\.5 {
    gap: .125rem
}

.gap-1 {
    gap: .25rem
}

.gap-1\.5 {
    gap: .375rem
}

.gap-2 {
    gap: .5rem
}

.gap-2\.5 {
    gap: .625rem
}

.gap-3 {
    gap: .75rem
}

.gap-5 {
    gap: 1.25rem
}

.gap-7 {
    gap: 1.75rem
}

.gap-8 {
    gap: 2rem
}

.overflow-hidden {
    overflow: hidden
}

.overflow-visible {
    overflow: visible
}

.overflow-y-auto {
    overflow-y: auto
}

.overflow-x-scroll {
    overflow-x: scroll
}

.overscroll-x-auto {
    overscroll-behavior-x: auto
}

.scroll-smooth {
    scroll-behavior: smooth
}

.whitespace-nowrap {
    white-space: nowrap
}

.text-wrap {
    text-wrap: wrap
}

.rounded-2xl {
    border-radius: 1rem
}

.rounded-3xl {
    border-radius: 1.5rem
}

.rounded-full {
    border-radius: 9999px
}

.rounded-lg {
    border-radius: var(--radius)
}

.rounded-md {
    border-radius: calc(var(--radius) - 2px)
}

.rounded-xl {
    border-radius: .75rem
}

.border {
    border-width: 1px
}

.border-t {
    border-top-width: 1px
}

.\!border-none {
    border-style: none !important
}

.border-none {
    border-style: none
}

.\!border-dark-3 {
    --tw-border-opacity: 1 !important;
    border-color: rgb(39 39 42/var(--tw-border-opacity, 1)) !important
}

.\!border-dark-3\/70 {
    border-color: rgba(39, 39, 42, .7) !important
}

.border-\[\#fdfdfd\]\/10 {
    border-color: hsla(0, 0%, 99%, .1)
}

.border-dark-3 {
    --tw-border-opacity: 1;
    border-color: rgb(39 39 42/var(--tw-border-opacity, 1))
}

.border-dark-4 {
    --tw-border-opacity: 1;
    border-color: rgb(31 31 34/var(--tw-border-opacity, 1))
}

.border-dark-5\/10 {
    border-color: hsla(240, 5%, 84%, .1)
}

.border-dark-5\/30 {
    border-color: hsla(240, 5%, 84%, .3)
}

.border-input {
    border-color: hsl(var(--input))
}

.border-zinc-700\/20 {
    border-color: rgba(63, 63, 70, .2)
}

.border-zinc-800 {
    --tw-border-opacity: 1;
    border-color: rgb(39 39 42/var(--tw-border-opacity, 1))
}

.bg-background {
    background-color: hsl(var(--background))
}

.bg-dark-1 {
    --tw-bg-opacity: 1;
    background-color: rgb(17 16 16/var(--tw-bg-opacity, 1))
}

.bg-destructive {
    background-color: hsl(var(--destructive))
}

.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity, 1))
}

.bg-green {
    --tw-bg-opacity: 1;
    background-color: rgb(0 255 0/var(--tw-bg-opacity, 1))
}

.bg-neutral-800\/30 {
    background-color: rgba(38, 38, 38, .3)
}

.bg-primary {
    background-color: hsl(var(--primary))
}

.bg-purple-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(147 51 234/var(--tw-bg-opacity, 1))
}

.bg-red {
    --tw-bg-opacity: 1;
    background-color: rgb(255 0 0/var(--tw-bg-opacity, 1))
}

.bg-secondary {
    background-color: hsl(var(--secondary))
}

.bg-transparent {
    background-color: transparent
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity, 1))
}

.bg-white\/5 {
    background-color: hsla(0, 0%, 100%, .05)
}

.bg-white\/70 {
    background-color: hsla(0, 0%, 100%, .7)
}

.bg-zinc-800\/10 {
    background-color: rgba(39, 39, 42, .1)
}

.bg-zinc-800\/30 {
    background-color: rgba(39, 39, 42, .3)
}

.bg-\[radial-gradient\(circle_400px_at_center\2c _var\(--tw-gradient-stops\)\)\] {
    background-image: radial-gradient(circle 400px at center, var(--tw-gradient-stops))
}

.bg-gradient-to-b {
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops))
}

.bg-gradient-to-l {
    background-image: linear-gradient(to left, var(--tw-gradient-stops))
}

.bg-none {
    background-image: none
}

.from-black\/50 {
    --tw-gradient-from: rgba(0, 0, 0, .5) var(--tw-gradient-from-position);
    --tw-gradient-to: transparent var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-white {
    --tw-gradient-from: #fff var(--tw-gradient-from-position);
    --tw-gradient-to: hsla(0, 0%, 100%, 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.via-transparent {
    --tw-gradient-to: transparent var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), transparent var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.to-transparent {
    --tw-gradient-to: transparent var(--tw-gradient-to-position)
}

.to-white\/0 {
    --tw-gradient-to: hsla(0, 0%, 100%, 0) var(--tw-gradient-to-position)
}

.stroke-black\/10 {
    stroke: rgba(0, 0, 0, .1)
}

.stroke-\[2\.5\] {
    stroke-width: 2.5
}

.object-contain {
    object-fit: contain
}

.object-cover {
    object-fit: cover
}

.p-0 {
    padding: 0
}

.p-0\.5 {
    padding: .125rem
}

.p-1 {
    padding: .25rem
}

.p-1\.5 {
    padding: .375rem
}

.p-2 {
    padding: .5rem
}

.p-2\.5 {
    padding: .625rem
}

.p-4 {
    padding: 1rem
}

.p-5 {
    padding: 1.25rem
}

.p-\[5px\] {
    padding: 5px
}

.p-px {
    padding: 1px
}

.px-1 {
    padding-left: .25rem;
    padding-right: .25rem
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.px-2\.5 {
    padding-left: .625rem;
    padding-right: .625rem
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.pb-2\.5 {
    padding-bottom: .625rem
}

.pb-3 {
    padding-bottom: .75rem
}

.pl-4 {
    padding-left: 1rem
}

.pt-2\.5 {
    padding-top: .625rem
}

.pt-8 {
    padding-top: 2rem
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-end {
    text-align: end
}

.font-glancyr {
    font-family: var(--font-glancyr), sans-serif
}

.font-glancyr700 {
    font-family: var(--font-glancyr700), sans-serif
}

.font-mono {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace
}

.font-sans {
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji
}

.font-spaceGrotesk {
    font-family: var(--font-spaceGrotesk)
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem
}

.text-5xl {
    font-size: 3rem;
    line-height: 1
}

.text-\[0\.6rem\] {
    font-size: .6rem
}

.text-\[10px\] {
    font-size: 10px
}

.text-\[2\.7rem\] {
    font-size: 2.7rem
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem
}

.font-bold {
    font-weight: 900
}

.font-extrabold {
    font-weight: 800
}

.font-light {
    font-weight: 100
}

.font-medium {
    font-weight: 500
}

.font-normal {
    font-weight: 400
}

.font-semibold {
    font-weight: 600
}

.tabular-nums {
    --tw-numeric-spacing: tabular-nums;
    font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

.leading-6 {
    line-height: 1.5rem
}

.leading-7 {
    line-height: 1.75rem
}

.leading-\[2\.8rem\] {
    line-height: 2.8rem
}

.leading-\[5rem\] {
    line-height: 5rem
}

.leading-none {
    line-height: 1
}

.leading-snug {
    line-height: 1.375
}

.tracking-\[-0\.02em\] {
    letter-spacing: -.02em
}

.tracking-wider {
    letter-spacing: .05em
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity, 1))
}

.text-dark-1 {
    --tw-text-opacity: 1;
    color: rgb(17 16 16/var(--tw-text-opacity, 1))
}

.text-dark-4 {
    --tw-text-opacity: 1;
    color: rgb(31 31 34/var(--tw-text-opacity, 1))
}

.text-destructive-foreground {
    color: hsl(var(--destructive-foreground))
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity, 1))
}

.text-neutral-200 {
    --tw-text-opacity: 1;
    color: rgb(229 229 229/var(--tw-text-opacity, 1))
}

.text-primary {
    color: hsl(var(--primary))
}

.text-primary-foreground {
    color: hsl(var(--primary-foreground))
}

.text-secondary-foreground {
    color: hsl(var(--secondary-foreground))
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity, 1))
}

.text-zinc-200 {
    --tw-text-opacity: 1;
    color: rgb(228 228 231/var(--tw-text-opacity, 1))
}

.text-zinc-200\/80 {
    color: hsla(240, 6%, 90%, .8)
}

.text-zinc-300 {
    --tw-text-opacity: 1;
    color: rgb(212 212 216/var(--tw-text-opacity, 1))
}

.text-zinc-400 {
    --tw-text-opacity: 1;
    color: rgb(161 161 170/var(--tw-text-opacity, 1))
}

.text-zinc-400\/70 {
    color: hsla(240, 5%, 65%, .7)
}

.text-zinc-400\/80 {
    color: hsla(240, 5%, 65%, .8)
}

.text-zinc-500 {
    --tw-text-opacity: 1;
    color: rgb(113 113 122/var(--tw-text-opacity, 1))
}

.text-zinc-700 {
    --tw-text-opacity: 1;
    color: rgb(63 63 70/var(--tw-text-opacity, 1))
}

.underline-offset-4 {
    text-underline-offset: 4px
}

.opacity-0 {
    opacity: 0
}

.opacity-100 {
    opacity: 1
}

.opacity-80 {
    opacity: .8
}

.opacity-90 {
    opacity: .9
}

.\!shadow-none {
    --tw-shadow: 0 0 #0000 !important;
    --tw-shadow-colored: 0 0 #0000 !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important
}

.shadow-custom-all {
    --tw-shadow: 0 3px 13px 0px #00000020;
    --tw-shadow-colored: 0 3px 13px 0px var(--tw-shadow-color)
}

.shadow-custom-all,
.shadow-sm {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color)
}

.shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 8px 10px -6px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.outline {
    outline-style: solid
}

.blur {
    --tw-blur: blur(8px)
}

.blur,
.blur-0 {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.blur-0 {
    --tw-blur: blur(0)
}

.blur-sm {
    --tw-blur: blur(4px)
}

.blur-sm,
.drop-shadow-sm {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.drop-shadow-sm {
    --tw-drop-shadow: drop-shadow(0 1px 1px rgba(0, 0, 0, .05))
}

.invert {
    --tw-invert: invert(100%)
}

.filter,
.invert {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.backdrop-blur-2xl {
    --tw-backdrop-blur: blur(40px)
}

.backdrop-blur-2xl,
.backdrop-blur-xl {
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.backdrop-blur-xl {
    --tw-backdrop-blur: blur(24px)
}

.backdrop-saturate-200 {
    --tw-backdrop-saturate: saturate(2);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.transition-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.duration-100 {
    transition-duration: .1s
}

.duration-200 {
    transition-duration: .2s
}

.duration-300 {
    transition-duration: .3s
}

.duration-500 {
    transition-duration: .5s
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

@keyframes enter {
    0% {
        opacity: var(--tw-enter-opacity, 1);
        transform: translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0) scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), var(--tw-enter-scale, 1)) rotate(var(--tw-enter-rotate, 0))
    }
}

@keyframes exit {
    to {
        opacity: var(--tw-exit-opacity, 1);
        transform: translate3d(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0), 0) scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), var(--tw-exit-scale, 1)) rotate(var(--tw-exit-rotate, 0))
    }
}

.duration-100 {
    animation-duration: .1s
}

.duration-200 {
    animation-duration: .2s
}

.duration-300 {
    animation-duration: .3s
}

.duration-500 {
    animation-duration: .5s
}

.ease-in-out {
    animation-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.\[--i\:\$\{i\}\] {
    --i:${i}
}

.\[box-shadow\:0_0px_0px_-0px_\#ffffff1f_inset\] {
    box-shadow: inset 0 0 0 0 #ffffff1f
}

.\[box-shadow\:0_0px_60px_-20px_\#ffffff1f_inset\] {
    box-shadow: inset 0 0 60px -20px #ffffff1f
}

.\[box-shadow\:0_0px_60px_-25px_\#ffffff1f_inset\] {
    box-shadow: inset 0 0 60px -25px #ffffff1f
}

.\[box-shadow\:2px_2px_85px_0px_\#ffffff\] {
    box-shadow: 2px 2px 85px 0 #fff
}

.\[filter\:url\(\#threshold\)_blur\(0\.6px\)\] {
    filter: url(eb554ec4f1622e09.css#threshold) blur(.6px)
}

.\[mask-image\:radial-gradient\(800px_circle_at_center\2c white\2c transparent\)\] {
    mask-image: radial-gradient(800px circle at center, #fff, transparent)
}

.\[text-wrap\:balance\] {
    text-wrap: balance
}

:root {
    --background: #fff;
    --foreground: #171717
}

@media (prefers-color-scheme:dark) {
    :root {
        --background: #111010;
        --foreground: #ededed
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif
}

.no-scrollbar::-webkit-scrollbar {
    display: none
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none
}

::-webkit-scrollbar {
    width: 0;
    height: 0
}

::-webkit-scrollbar-track {
    background: #b9b9be00
}

::-webkit-scrollbar-thumb {
    background: #3a3a3a
}

::-webkit-scrollbar-thumb:hover {
    background: #43434b
}

::view-transition-group(root) {
    animation-timing-function: var(--expo-in)
}

::view-transition-new(root) {
    mask: url(../images/theL.gif) center/cover no-repeat;
    animation: scale 1.5s
}

.dark::view-transition-old(root),
::view-transition-old(root) {
    animation: scale 1.5s
}

@keyframes scale {
    0% {
        mask-size: 0
    }

    10% {
        mask-size: 40vmax
    }

    90% {
        mask-size: 40vmax
    }

    to {
        mask-size: 2000vmax
    }
}

@media (max-width:1440px) {
    @keyframes scale {
        10% {
            mask-size: 55vmax
        }

        90% {
            mask-size: 55vmax
        }

        to {
            mask-size: 2000vmax
        }
    }
}

@media (max-width:1200px) {
    @keyframes scale {
        10% {
            mask-size: 65vmax
        }

        90% {
            mask-size: 65vmax
        }

        to {
            mask-size: 2000vmax
        }
    }
}

@media (max-width:1024px) {
    @keyframes scale {
        10% {
            mask-size: 75vmax
        }

        90% {
            mask-size: 75vmax
        }

        to {
            mask-size: 2000vmax
        }
    }
}

.last\:pr-\[5\%\]:last-child {
    padding-right: 5%
}

.hover\:rotate-45:hover {
    --tw-rotate: 45deg
}

.hover\:rotate-45:hover,
.hover\:scale-125:hover {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.hover\:scale-125:hover {
    --tw-scale-x: 1.25;
    --tw-scale-y: 1.25
}

.hover\:border-white\/50:hover {
    border-color: hsla(0, 0%, 100%, .5)
}

.hover\:bg-accent:hover {
    background-color: hsl(var(--accent))
}

.hover\:bg-destructive\/90:hover {
    background-color: hsl(var(--destructive)/.9)
}

.hover\:bg-secondary\/80:hover {
    background-color: hsl(var(--secondary)/.8)
}

.hover\:bg-white\/70:hover {
    background-color: hsla(0, 0%, 100%, .7)
}

.hover\:text-accent-foreground:hover {
    color: hsl(var(--accent-foreground))
}

.hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity, 1))
}

.hover\:underline:hover {
    text-decoration-line: underline
}

.hover\:shadow-white\/40:hover {
    --tw-shadow-color: hsla(0, 0%, 100%, .4);
    --tw-shadow: var(--tw-shadow-colored)
}

.hover\:\[box-shadow\:1px_1px_50px_-1px_\#fff\]:hover {
    box-shadow: 1px 1px 50px -1px #fff
}

.hover\:\[box-shadow\:1px_1px_50px_20px_\#c6c6c650\]:hover {
    box-shadow: 1px 1px 50px 20px #c6c6c650
}

.focus-visible\:outline-none:focus-visible {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.focus-visible\:ring-1:focus-visible {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.focus-visible\:ring-ring:focus-visible {
    --tw-ring-color: hsl(var(--ring))
}

.disabled\:pointer-events-none:disabled {
    pointer-events: none
}

.disabled\:opacity-50:disabled {
    opacity: .5
}

.group:hover .group-hover\:mx-auto {
    margin-left: auto;
    margin-right: auto
}

.group:hover .group-hover\:w-\[80\%\] {
    width: 80%
}

.group:hover .group-hover\:translate-x-0 {
    --tw-translate-x: 0px
}

.group:hover .group-hover\:translate-x-0,
.group:hover .group-hover\:translate-y-0 {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.group:hover .group-hover\:translate-y-0 {
    --tw-translate-y: 0px
}

.group:hover .group-hover\:scale-100 {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.group:hover .group-hover\:bg-neutral-800\/10 {
    background-color: rgba(38, 38, 38, .1)
}

.group:hover .group-hover\:px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.group:hover .group-hover\:opacity-100 {
    opacity: 1
}

.dark\:flex:is(.dark *) {
    display: flex
}

.dark\:hidden:is(.dark *) {
    display: none
}

.dark\:scale-0:is(.dark *) {
    --tw-scale-x: 0;
    --tw-scale-y: 0;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.dark\:scale-100:is(.dark *) {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.dark\:\!border-0:is(.dark *) {
    border-width: 0 !important
}

.dark\:border-0:is(.dark *) {
    border-width: 0
}

.dark\:border-dark-2\/65:is(.dark *) {
    border-color: rgba(156, 163, 175, .65)
}

.dark\:border-dark-3\/20:is(.dark *) {
    border-color: rgba(39, 39, 42, .2)
}

.dark\:border-dark-5:is(.dark *) {
    --tw-border-opacity: 1;
    border-color: rgb(212 212 216/var(--tw-border-opacity, 1))
}

.dark\:border-dark-5\/40:is(.dark *) {
    border-color: hsla(240, 5%, 84%, .4)
}

.dark\:border-dark-5\/60:is(.dark *) {
    border-color: hsla(240, 5%, 84%, .6)
}

.dark\:bg-\[\#FDFDFD\]:is(.dark *) {
    --tw-bg-opacity: 1;
    background-color: rgb(253 253 253/var(--tw-bg-opacity, 1))
}

.dark\:bg-\[\#fdfdfd\]:is(.dark *) {
    --tw-bg-opacity: 1;
    background-color: rgb(253 253 253/var(--tw-bg-opacity, 1))
}

.dark\:bg-blue-500\/70:is(.dark *) {
    background-color: rgba(59, 130, 246, .7)
}

.dark\:bg-dark-4:is(.dark *) {
    --tw-bg-opacity: 1;
    background-color: rgb(31 31 34/var(--tw-bg-opacity, 1))
}

.dark\:bg-transparent:is(.dark *) {
    background-color: transparent
}

.dark\:bg-white:is(.dark *) {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity, 1))
}

.dark\:bg-white\/10:is(.dark *) {
    background-color: hsla(0, 0%, 100%, .1)
}

.dark\:bg-white\/30:is(.dark *) {
    background-color: hsla(0, 0%, 100%, .3)
}

.dark\:bg-white\/80:is(.dark *) {
    background-color: hsla(0, 0%, 100%, .8)
}

.dark\:bg-white\/95:is(.dark *) {
    background-color: hsla(0, 0%, 100%, .95)
}

.dark\:bg-zinc-100\/80:is(.dark *) {
    background-color: hsla(240, 5%, 96%, .8)
}

.dark\:bg-gradient-to-l:is(.dark *) {
    background-image: linear-gradient(to left, var(--tw-gradient-stops))
}

.dark\:from-transparent:is(.dark *) {
    --tw-gradient-from: transparent var(--tw-gradient-from-position);
    --tw-gradient-to: transparent var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.dark\:from-white:is(.dark *) {
    --tw-gradient-from: #fff var(--tw-gradient-from-position);
    --tw-gradient-to: hsla(0, 0%, 100%, 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.dark\:via-white\/90:is(.dark *) {
    --tw-gradient-to: hsla(0, 0%, 100%, 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), hsla(0, 0%, 100%, .9) var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.dark\:to-white:is(.dark *) {
    --tw-gradient-to: #fff var(--tw-gradient-to-position)
}

.dark\:stroke-zinc-300:is(.dark *) {
    stroke: #d4d4d8
}

.dark\:p-1:is(.dark *) {
    padding: .25rem
}

.dark\:font-bold:is(.dark *) {
    font-weight: 900
}

.dark\:text-black:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity, 1))
}

.dark\:text-black\/70:is(.dark *) {
    color: rgba(0, 0, 0, .7)
}

.dark\:text-dark-1:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(17 16 16/var(--tw-text-opacity, 1))
}

.dark\:text-dark-3:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(39 39 42/var(--tw-text-opacity, 1))
}

.dark\:text-dark-4:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(31 31 34/var(--tw-text-opacity, 1))
}

.dark\:text-neutral-800:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(38 38 38/var(--tw-text-opacity, 1))
}

.dark\:text-white:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity, 1))
}

.dark\:text-zinc-500:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(113 113 122/var(--tw-text-opacity, 1))
}

.dark\:text-zinc-600:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(82 82 91/var(--tw-text-opacity, 1))
}

.dark\:opacity-100:is(.dark *) {
    opacity: 1
}

.dark\:invert:is(.dark *) {
    --tw-invert: invert(100%);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.dark\:\[box-shadow\:0_0px_0px_-0px_\#ffffff1f_inset\]:is(.dark *) {
    box-shadow: inset 0 0 0 0 #ffffff1f
}

.dark\:\[box-shadow\:0px_0px_40px_5px_\#c6c6c635_inset\]:is(.dark *) {
    box-shadow: inset 0 0 40px 5px #c6c6c635
}

.dark\:\[box-shadow\:0px_0px_65px_45px_\#ffffff40\]:is(.dark *) {
    box-shadow: 0 0 65px 45px #ffffff40
}

.dark\:\[box-shadow\:3px_3px_40px_5px_\#c6c6c635_inset\]:is(.dark *) {
    box-shadow: inset 3px 3px 40px 5px #c6c6c635
}

.dark\:hover\:border-dark-4\/50:hover:is(.dark *) {
    border-color: rgba(31, 31, 34, .5)
}

.dark\:hover\:shadow-dark-1\/20:hover:is(.dark *) {
    --tw-shadow-color: hsla(0, 3%, 6%, .2);
    --tw-shadow: var(--tw-shadow-colored)
}

@media not all and (min-width:1024px) {
    .max-lg\:size-\[3\.4rem\] {
        width: 3.4rem;
        height: 3.4rem
    }

    .max-lg\:text-\[1\.7rem\] {
        font-size: 1.7rem
    }
}

@media not all and (min-width:768px) {
    .max-md\:-top-10 {
        top: -2.5rem
    }
}

@media not all and (min-width:640px) {
    .max-sm\:-left-20 {
        left: -5rem
    }

    .max-sm\:bottom-7 {
        bottom: 1.75rem
    }

    .max-sm\:right-7 {
        right: 1.75rem
    }

    .max-sm\:hidden {
        display: none
    }

    .max-sm\:size-10 {
        width: 2.5rem;
        height: 2.5rem
    }

    .max-sm\:size-20 {
        width: 5rem;
        height: 5rem
    }

    .max-sm\:size-\[3\.2rem\] {
        width: 3.2rem;
        height: 3.2rem
    }

    .max-sm\:size-full {
        width: 100%;
        height: 100%
    }

    .max-sm\:h-\[275px\] {
        height: 275px
    }

    .max-sm\:h-\[350px\] {
        height: 350px
    }

    .max-sm\:h-\[400px\] {
        height: 400px
    }

    .max-sm\:h-\[90\%\] {
        height: 90%
    }

    .max-sm\:h-max {
        height: max-content
    }

    .max-sm\:min-h-screen {
        min-height: 100vh
    }

    .max-sm\:w-full {
        width: 100%
    }

    .max-sm\:max-w-\[2\.75rem\] {
        max-width: 2.75rem
    }

    .max-sm\:translate-y-12 {
        --tw-translate-y: 3rem;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .max-sm\:flex-row {
        flex-direction: row
    }

    .max-sm\:flex-col {
        flex-direction: column
    }

    .max-sm\:justify-center {
        justify-content: center
    }

    .max-sm\:gap-2 {
        gap: .5rem
    }

    .max-sm\:gap-3 {
        gap: .75rem
    }

    .max-sm\:gap-4 {
        gap: 1rem
    }

    .max-sm\:bg-transparent {
        background-color: transparent
    }

    .max-sm\:p-4 {
        padding: 1rem
    }

    .max-sm\:p-5 {
        padding: 1.25rem
    }

    .max-sm\:px-3 {
        padding-left: .75rem;
        padding-right: .75rem
    }

    .max-sm\:py-2 {
        padding-top: .5rem;
        padding-bottom: .5rem
    }

    .max-sm\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem
    }

    .max-sm\:text-5xl {
        font-size: 3rem;
        line-height: 1
    }

    .max-sm\:text-6xl {
        font-size: 3.75rem;
        line-height: 1
    }

    .max-sm\:text-7xl {
        font-size: 4.5rem;
        line-height: 1
    }

    .max-sm\:text-\[1\.7rem\] {
        font-size: 1.7rem
    }

    .max-sm\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem
    }

    .max-sm\:text-xs {
        font-size: .75rem;
        line-height: 1rem
    }

    .max-sm\:font-bold {
        font-weight: 900
    }

    .group:hover .max-sm\:group-hover\:hidden {
        display: none
    }

    .group:hover .max-sm\:group-hover\:scale-150 {
        --tw-scale-x: 1.5;
        --tw-scale-y: 1.5;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
}

@media (min-width:640px) {
    .sm\:col-start-1 {
        grid-column-start: 1
    }

    .sm\:col-start-2 {
        grid-column-start: 2
    }

    .sm\:col-start-3 {
        grid-column-start: 3
    }

    .sm\:col-start-4 {
        grid-column-start: 4
    }

    .sm\:col-start-7 {
        grid-column-start: 7
    }

    .sm\:col-end-2 {
        grid-column-end: 2
    }

    .sm\:col-end-3 {
        grid-column-end: 3
    }

    .sm\:col-end-4 {
        grid-column-end: 4
    }

    .sm\:col-end-6 {
        grid-column-end: 6
    }

    .sm\:col-end-7 {
        grid-column-end: 7
    }

    .sm\:col-end-9 {
        grid-column-end: 9
    }

    .sm\:row-start-1 {
        grid-row-start: 1
    }

    .sm\:row-start-2 {
        grid-row-start: 2
    }

    .sm\:row-start-3 {
        grid-row-start: 3
    }

    .sm\:row-start-4 {
        grid-row-start: 4
    }

    .sm\:row-start-5 {
        grid-row-start: 5
    }

    .sm\:row-start-7 {
        grid-row-start: 7
    }

    .sm\:row-end-2 {
        grid-row-end: 2
    }

    .sm\:row-end-3 {
        grid-row-end: 3
    }

    .sm\:row-end-4 {
        grid-row-end: 4
    }

    .sm\:row-end-5 {
        grid-row-end: 5
    }

    .sm\:row-end-6 {
        grid-row-end: 6
    }

    .sm\:row-end-7 {
        grid-row-end: 7
    }

    .sm\:row-end-8 {
        grid-row-end: 8
    }

    .sm\:mr-auto {
        margin-right: auto
    }

    .sm\:mt-auto {
        margin-top: auto
    }

    .sm\:hidden {
        display: none
    }

    .sm\:h-\[770px\] {
        height: 770px
    }

    .sm\:h-max {
        height: max-content
    }

    .sm\:grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr))
    }

    .sm\:grid-cols-8 {
        grid-template-columns: repeat(8, minmax(0, 1fr))
    }

    .sm\:grid-rows-5 {
        grid-template-rows: repeat(5, minmax(0, 1fr))
    }

    .sm\:grid-rows-7 {
        grid-template-rows: repeat(7, minmax(0, 1fr))
    }

    .sm\:flex-row {
        flex-direction: row
    }

    .sm\:fill-zinc-600\/30 {
        fill: rgba(82, 82, 91, .3)
    }

    .sm\:stroke-dark-1\/40 {
        stroke: hsla(0, 3%, 6%, .4)
    }

    .sm\:text-\[1\.9rem\] {
        font-size: 1.9rem
    }

    .dark\:sm\:stroke-zinc-300:is(.dark *) {
        stroke: #d4d4d8
    }
}

@media (min-width:768px) {
    .md\:h-\[35rem\] {
        height: 35rem
    }

    .md\:w-96 {
        width: 24rem
    }

    .md\:w-\[26rem\] {
        width: 26rem
    }

    .md\:py-5 {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem
    }

    .md\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem
    }

    .md\:text-5xl {
        font-size: 3rem;
        line-height: 1
    }

    .md\:text-base {
        font-size: 1rem;
        line-height: 1.5rem
    }

    .md\:last\:pr-\[33\%\]:last-child {
        padding-right: 33%
    }
}

@media (min-width:1024px) {
    .lg\:-bottom-\[180px\] {
        bottom: -180px
    }

    .lg\:-right-0 {
        right: 0
    }

    .lg\:top-0 {
        top: 0
    }

    .lg\:top-12 {
        top: 3rem
    }

    .lg\:top-20 {
        top: 5rem
    }

    .lg\:size-14 {
        width: 3.5rem;
        height: 3.5rem
    }

    .lg\:size-\[3\.8rem\] {
        width: 3.8rem;
        height: 3.8rem
    }

    .lg\:h-\[100dvh\] {
        height: 100dvh
    }

    .lg\:h-\[380px\] {
        height: 380px
    }

    .lg\:h-\[400px\] {
        height: 400px
    }

    .lg\:h-\[550px\] {
        height: 550px
    }

    .lg\:h-\[700px\] {
        height: 700px
    }

    .lg\:w-\[687px\] {
        width: 687px
    }

    .lg\:object-contain {
        object-fit: contain
    }

    .lg\:object-fill {
        object-fit: fill
    }

    .lg\:text-\[2\.2rem\] {
        font-size: 2.2rem
    }

    .lg\:leading-10 {
        line-height: 2.5rem
    }

    .lg\:leading-8 {
        line-height: 2rem
    }
}

@font-face {
    font-family: __Glancyr_1f1854;
    src: url(../fonts/7c24ce527c29dc4f-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 100 900
}

@font-face {
    font-family: __Glancyr_Fallback_1f1854;
    src: local("Arial");
    ascent-override: 105.62%;
    descent-override: 26.40%;
    line-gap-override: 8.80%;
    size-adjust: 113.62%
}

.__className_1f1854 {
    font-family: __Glancyr_1f1854, __Glancyr_Fallback_1f1854
}

.__variable_1f1854 {
    --font-glancyr: "__Glancyr_1f1854", "__Glancyr_Fallback_1f1854"
}

@font-face {
    font-family: __Glancyr700_7e2669;
    src: url(../fonts/64bc8e5a2090c960-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 100 900
}

@font-face {
    font-family: __Glancyr700_Fallback_7e2669;
    src: local("Arial");
    ascent-override: 102.46%;
    descent-override: 25.61%;
    line-gap-override: 8.54%;
    size-adjust: 117.12%
}

.__className_7e2669 {
    font-family: __Glancyr700_7e2669, __Glancyr700_Fallback_7e2669
}

.__variable_7e2669 {
    --font-glancyr700: "__Glancyr700_7e2669", "__Glancyr700_Fallback_7e2669"
}

@font-face {
    font-family: __Space_Grotesk_746184;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/e1aab0933260df4d-s.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: __Space_Grotesk_746184;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/b7387a63dd068245-s.woff2) format("woff2");
    unicode-range: u+0100-02ba, u+02bd-02c5, u+02c7-02cc, u+02ce-02d7, u+02dd-02ff, u+0304, u+0308, u+0329, u+1d00-1dbf, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: __Space_Grotesk_746184;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/7cba1811e3c25a15-s.p.woff2) format("woff2");
    unicode-range: u+00, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: __Space_Grotesk_746184;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/e1aab0933260df4d-s.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: __Space_Grotesk_746184;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/b7387a63dd068245-s.woff2) format("woff2");
    unicode-range: u+0100-02ba, u+02bd-02c5, u+02c7-02cc, u+02ce-02d7, u+02dd-02ff, u+0304, u+0308, u+0329, u+1d00-1dbf, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: __Space_Grotesk_746184;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/7cba1811e3c25a15-s.p.woff2) format("woff2");
    unicode-range: u+00, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: __Space_Grotesk_746184;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/e1aab0933260df4d-s.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: __Space_Grotesk_746184;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/b7387a63dd068245-s.woff2) format("woff2");
    unicode-range: u+0100-02ba, u+02bd-02c5, u+02c7-02cc, u+02ce-02d7, u+02dd-02ff, u+0304, u+0308, u+0329, u+1d00-1dbf, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: __Space_Grotesk_746184;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/7cba1811e3c25a15-s.p.woff2) format("woff2");
    unicode-range: u+00, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: __Space_Grotesk_746184;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/e1aab0933260df4d-s.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: __Space_Grotesk_746184;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/b7387a63dd068245-s.woff2) format("woff2");
    unicode-range: u+0100-02ba, u+02bd-02c5, u+02c7-02cc, u+02ce-02d7, u+02dd-02ff, u+0304, u+0308, u+0329, u+1d00-1dbf, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: __Space_Grotesk_746184;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/7cba1811e3c25a15-s.p.woff2) format("woff2");
    unicode-range: u+00, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: __Space_Grotesk_746184;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/e1aab0933260df4d-s.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: __Space_Grotesk_746184;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/b7387a63dd068245-s.woff2) format("woff2");
    unicode-range: u+0100-02ba, u+02bd-02c5, u+02c7-02cc, u+02ce-02d7, u+02dd-02ff, u+0304, u+0308, u+0329, u+1d00-1dbf, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: __Space_Grotesk_746184;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/7cba1811e3c25a15-s.p.woff2) format("woff2");
    unicode-range: u+00, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: __Space_Grotesk_Fallback_746184;
    src: local("Arial");
    ascent-override: 89.71%;
    descent-override: 26.62%;
    line-gap-override: 0.00%;
    size-adjust: 109.69%
}

.__className_746184 {
    font-family: __Space_Grotesk_746184, __Space_Grotesk_Fallback_746184;
    font-style: normal
}

.__variable_746184 {
    --font-spaceGrotesk: "__Space_Grotesk_746184", "__Space_Grotesk_Fallback_746184"
}